* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 100vh;
  background: #b2b09b;
}

.theWheel {
  height: 400px;
  width: 400px;
  background: #ff6f59;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px gray;
  transition: 5s all;
}

.theWheel div {
  height: 50%;
  width: 200px;
  clip-path: polygon(100% 0, 50% 100%, 0 0);
  transform: translateX(-50%);
  transform-origin: bottom;
  position: absolute;
  left: 20%;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: monospace;
  font-weight: 1000;
  color: antiquewhite;
  writing-mode: vertical-rl;
}

.theWheel .one {
  background: #43aa8b;
  left: 50%;
}

.theWheel .two {
  background: #254441;
  transform: rotate(60deg);
}

.theWheel .three {
  background: #43aa8b;
  transform: rotate(120deg);
}

.theWheel .four {
  background: #254441;
  transform: rotate(180deg);
}
.theWheel .five {
  background: #43aa8b;
  transform: rotate(240deg);
}

.theWheel .six {
  background: #254441;
  transform: rotate(300deg);
}

.inside {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  background: #b2b09b;
}

#spin {
  height: 60px;
  width: 200px;
  background: #254441;
  position: absolute;
  margin-top: 600px;
  font-size: 28px;
  color: antiquewhite;
  font-weight: 1000;
  letter-spacing: 4px;
  border: 1px solid white;
  cursor: pointer;
  box-shadow: 0 5px 10px gray;
  transition: 0.2s all;
}

#spin:hover {
  box-shadow: none;
}

.stopper {
  height: 50px;
  width: 40px;
  background: #ff6f59;
  position: absolute;
  clip-path: polygon(100% 0, 50% 100%, 0 0);
  margin-top: -350px;
}
